@import url("https://fonts.googleapis.com/css2?family=Public+Sans:wght@400;500;600;700;800&display=swap");
* {
  margin: 0;
  padding: 0; }

body {
  background-color: #000; }

.carousel {
  height: 100vh;
  overflow: hidden; }
  .carousel img {
    position: fixed;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 1;
    transition: opacity 1s, transform 2s; }
    .carousel img:not(.active) {
      opacity: 0;
      transform: scale(105%); }
  .carousel .previous-btn,
  .carousel .next-btn {
    color: white;
    font-size: 24px;
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    transition: transform .5s;
    cursor: pointer;
    user-select: none; }
    .carousel .previous-btn:hover,
    .carousel .next-btn:hover {
      transform: translateY(-50%) scale(200%); }
  .carousel .previous-btn {
    left: 8px; }
  .carousel .next-btn {
    right: 8px; }
