footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin: 160px 16px 0 16px;
  padding: 16px 0;
  border-top: 1px solid black;

  @include bp($sm){
    margin: 320px 32px 0 32px;
    padding: 32px 0;
  }

  address {
    line-height: 1.5;
  }
}