.homepage {
  overflow: scroll;
  header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 200;
    transition: transform .5s, opacity .2s;
    color: inherit;
    opacity: 0;
    transform: translateY(-100%);

  }

.hero {
    min-height: 100vh;
    img {
      min-width: 100vw;
      height: 100vh;
      width: auto;
      object-fit: cover;
      object-position: center;
      position: absolute;
      top: 0;
      left: 0;
      transition: opacity 1s;
    }
    
    transition: opacity .5s;
    &.hidden {
      opacity: 0;
    }

    .hero-image {
      position: relative;
    }
    

    img:not(.active){
      opacity: 0;
    }
  }

  .hero .header-logo {
    z-index: 200;
    position: fixed;
    left: 50%;
    bottom: 50%;
    top: calc((var(--vh, 1vh) * 50));
    background-color: #00000033;
    color: white;
    width: 122px;
    height: 122px;
    border: .75px solid;
    transform: translate(-50%, -50%);
    transition: color 1s, background-color 1s;
    @include bp($sm){
      transform: translate(-50%, -50%) scale(2.5);
    }

    &.dark {
      color: #000000;
      background-color: #ffffff99;
    }
  }

  .intro {
    min-height: 100vh;
    opacity: 0;
    transition: transform .5s, opacity .5s;
    transform: translateY(112px);
  }

  &.half-scroll {
    .intro { 
      opacity: 1;
      transform: translateY(0); 
    }
    .hero .header-logo {
      color: transparent;
      background-color: transparent;
    }
  }
  
  &.full-scroll{
    header {
      opacity: 1;
      transform: translateY(0);
    }
    .heroImg {
      opacity: 0;
    }
  }
}

