.project-page {
  nav {
    border-bottom: 0px;
  }
  @include bp-max($sm) {
    .section-header {
      background-color: #f3f3f3;
    }
  }
}

.project-detail {
  position: sticky;
  top: 312px;

  .project-hero {
    width: 100%;
    padding-top: 16px;
    max-height: calc(100vh - 280px);
    z-index: -1;
    background-color: #f3f3f3;
    border-top: 1px solid black;
    
    @include bp($sm) {
      position: sticky;
      top: 112px;
      padding-top:32px;

    }

    img {
      width: 100%;
      object-fit: cover;
      object-position: center;
    }
  }

  .project-info {
    grid-template-columns: repeat(5, 1fr);
    padding-bottom: 32px;
    background-color: #f3f3f3;
    
    > * {
      background-color: #f3f3f3;
      border-color: transparent;
      transition: transform .5s, opacity .5s, color .25s;
    }

    &.top {
      background-color: transparent;
      @include bp($sm){
        .project-description, .img-caption {
          background-color: transparent;
          color: transparent;
          transform: translateY(-100%);
          opacity: 0;
          z-index: -1;
        }
        .spacer,
        .project-title{
          border-bottom: 1px solid black;
          box-shadow: 0 32px 0 #f3f3f3;
        }
      }
    }
    @include bp($sm) {
      position: sticky;
      top: 0px;
      display: grid;
    }
  }
  
  .project-title { 
    grid-area: 1 / 2 / 2 / 6; 
    padding: 16px 0;
    box-shadow: 0 32px 0 #f3f3f3;
    @include bp($sm){
      padding: 32px 0;
      z-index: 300;
    }
  }
  
  .img-caption {
    grid-area: 2 / 1;
    font-family: proxima-nova-condensed, sans-serif; 
  }
  
  .project-description { 
    grid-area: 2 / 2 / 3 / 6;
    font-family: proxima-nova-condensed, sans-serif; 
    @include bp-max($sm){

      margin-top: 16px;
    }
  } 

  .img-caption,
  .project-description {
    @include bp($sm){
      line-height: 1.5;
    }
  }

  .project-images{
    background-color: #f3f3f3;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 16px;
    padding-top: 16px;
    @include bp($sm) {
      padding-top: 160px;
      grid-gap: 32px;
    }

    @include bp-max($sm){
      z-index: 500;
      position: relative;
    }

    img {
      object-fit: contain;
      max-width: 100%;

      &.full {
        grid-column-start: 1;
        grid-column-end: 3;
      }

      &.half {
        @include bp-max($sm) {
          grid-column-start: 1;
          grid-column-end: 3;
        }
      }
    }
    
  }

  
}