.project-detail {
  position: sticky;
  top:312px;

  .project-hero {
    position: sticky;
    top: 112px;
    padding-top:32px;
    width: 100%;
    max-height: calc(100vh - 280px);
    
    z-index: -1;
    background-color: #f3f3f3;
    border-top: 1px solid black;

    img {
      width: 100%;
      object-fit: cover;
      object-position: center;
    }
  }

  .project-info {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    position: sticky;
    top: 0px;
    padding-bottom: 32px;
    background-color: #f3f3f3;

    > * {
      background-color: #f3f3f3;
      transition: transform .5s, opacity .5s, color .25s;
    }

 
    &.top {
      background-color: transparent;
      .project-description, .img-caption {
        background-color: transparent;
        color: transparent;
        transform: translateY(-100%);
        opacity: 0;
        z-index: -1;
      }

      .project-title,
      .spacer {
        border-bottom: 1px solid black;
        box-shadow: 0 32px 0 #f3f3f3;
      }
    }

  }

  .img-caption {
    grid-area: 2 / 1;
    line-height: 1.5;
    font-family: proxima-nova-condensed, sans-serif; 
  }

  .project-title { 
    grid-area: 1 / 2 / 2 / 6; 
    padding: 32px 0;
    z-index: 300;
  }

  .project-description { 
    grid-area: 2 / 2 / 3 / 6;
    line-height: 1.5;
    font-family: proxima-nova-condensed, sans-serif; 
  } 

  .project-images{
    z-index: 500;
    background-color: #f3f3f3;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 32px;
    padding-top: 160px;

    img {
      object-fit: contain;
      max-width: 100%;

      &.full {
        grid-column-start: 1;
        grid-column-end: 3;
      }
    }
    
  }

  
}