body {
  background-color: $white;
}

nav a.active,
nav a:hover {
  color: #5B98CA;
}

address{
  font-style: normal;
}

section{
  padding: 0 16px;
  @include bp($sm){
    padding: 0 32px;
  }
  margin: auto;
  max-width: 1440px;
}

.section-header {
  position: sticky;
  top: 80px;
  background-color: $white;
  @include bp($sm) {
    top: 112px;
    padding-top: 32px;

  }
}

.grid-5 {
  @include bp($sm){
    display: grid;
    grid-template-columns: repeat(5, 1fr);
  }
}
