$white:#f3f3f3;
$black: #000;
$gray:#cecece;
$gray-medium:#999999;
$blue: #5B98CA;
$gray-light: #e6e6e6;
$red: #ca5b5b;

@mixin bp($class) {
  @if $class == xs {
    @media (min-width: 321px) {
      @content;
    }
  } @else if $class == sm {
    @media (min-width: 640px) {
      @content;
    }
  } @else if $class == md {
    @media (min-width: 768px) {
      @content;
    }
  } @else if $class == lg {
    @media (min-width: 1024px) {
      @content;
    }
  } @else if $class == xl {
    @media (min-width: 1280px) {
      @content;
    }
  } @else if $class == xxl {
    @media (min-width: 1536px) {
      @content;
    }
  }
}