backend:
  name: git-gateway
  branch: main # Branch to update (optional; defaults to master)

media_library:
  name: cloudinary
  config:
    cloud_name: izzee
    api_key: 478312484494422

collections:
  - label: 'Pages'
    name: 'pages'
    files:
    - name: 'home'
      label: 'Home Page'
      file: 'content/index.yml'
      format: 'yaml'
      create: false
      slug: '{{title}}'
      editor:
        preview: false
      fields: 
        - { label: 'Title', name: 'title', widget: 'hidden' }
        - {label: 'Intro text', name: 'text', widget: 'string'} 
        - label: 'Hero Images'
          label_singular: 'hero image'
          name: 'hero'
          widget: 'list'
          fields: 
            - { label: 'Image', name: 'image', widget: 'image' }
        - label: 'Press logo rows'
          label_singular: 'press logo row'
          name: 'press'
          widget: 'list'
          fields: 
            - label: 'Logos'
              label_singular: 'logo'
              name: 'logos'
              widget: 'list'
              fields:
                - { label: 'Image', name: 'image', widget: 'image' }
        - label: 'Work categories'
          label_singular: 'work cateogry'
          name: 'work'
          widget: 'list'
          fields:
            - {label: 'Cateogry', name: 'category', widget: 'text'}
            - {label: 'Image', name: 'image', widget: 'image'}

    - name: 'about'
      label: 'About Page'
      file: 'content/about.yml'
      format: 'yaml'
      create: false
      slug: '{{title}}'
      editor:
        preview: false
      fields: 
        - { label: 'Title', name: 'title', widget: 'hidden' }
        - label: 'Intro paragraphs'
          label_singular: 'intro paragraph'
          name: 'intro'
          widget: 'list'
          fields: 
            - {label: 'Text',  name: 'text', widget: 'string'}

        - label: 'Princial'
          name: 'principal'
          fields: 
            - {label: 'Image',  name: 'image', widget: 'image'}
            - {label: 'Name',  name: 'name', widget: 'string'}
            - {label: 'Title', name: 'title', widget: 'string'}
            - {label: 'Text', name: 'text', widget: 'string'}

        - label: 'Team members'
          label_singular: 'team member'
          name: 'team'
          widget: 'list'
          fields: 
            - {label: 'Name',  name: 'name', widget: 'string'}
            - {label: 'Title', name: 'title', widget: 'string'}
            - {label: 'Image', name: 'image', widget: 'image'}
    
    - name: 'contact'
      label: 'Contact Page'
      file: 'content/contact.yml'
      format: 'yaml'
      create: false
      slug: '{{title}}'
      editor:
        preview: false
      fields: 
        - {label: 'Title', name: 'title', widget: 'hidden' }
        - {label: 'Text', name: 'text', widget: 'string'}

  - name: 'work'
    label: 'Work'
    folder: 'content/work'
    format: 'yaml'
    create: true
    slug: '{{title}}'
    editor:
      preview: false
    fields:
      - { label: 'Title', name: 'title', widget: 'string' }
      - { label: 'Category', name: 'category', widget: 'select', options: ['residential', 'institutional'] }
      - { label: 'Location', name: 'location', widget: 'string'}
      - { label: 'Size', name: 'size', widget: 'string'}
      - { label: 'Type', name: 'type', widget: 'string'}
      - { label: 'Description', name: 'description', widget: 'string' }
      - { label: 'Photographer', name: 'photographer', widget: 'string' }
      - { label: 'Hero', name: 'hero', widget: 'image' }
      - label: 'Images'
        name: 'images' 
        widget: 'list'
        fields: 
          - { label: 'Image', name: 'image', widget: 'image' }
          - { label: 'Orientation', name: 'orientation', widget: 'select', options: ['landscape', 'portrait'] }

